<div class="container">
  <div class="contents">
    <h4><b>利用規約</b></h4>
    <p>この規約は、個人制作である、かんたん支出管理「yen!」（以下「本サービス」）をご利用頂く際の取扱いにつき定めるものです。本規約に同意いただいた上で本サービスをご利用ください。</p><br>
    <p>
      <b>第１条（本規約への同意）</b><br>
      １　利用者は、本利用規約に同意頂いた上で、本サービスを利用できるものとします。<br>
      ２　利用者が、本規約への同意手続（アカウントの新規登録）を行った時点で、利用者と本サービスとの間で、本規約の諸規定に従った利用契約が成立するものとします。<br>
    </p>
    <p>
      <b>第２条（規約の変更）</b><br>
      １　本サービスは、利用者の承諾を得ることなく、いつでも、本規約の内容を改定することができるものとし、利用者はこれを異議なく承諾するものとします。<br>
      ２　本サービスは、本規約を改定するときは、その内容について所定の方法により利用者に通知します。<br>
      ３　前本規約の改定の効力は、本サービスが前項により通知を行った時点から生じるものとします。<br>
      ４　利用者は、本規約変更後、本サービスを利用した時点で、変更後の本利用規約に異議なく同意したものとみなされます。<br>
    </p>
    <p>
      <b>第３条（アカウントの管理）</b><br>
      １　利用者は、利用に際して登録した情報（メールアドレス・パスワード・ニックネームの総称。以下、「登録情報」といいます）について、自己の責任の下、任意に登録、管理するものとします。<br>
      ２　登録情報の管理は、利用者が自己の責任の下で行うものとし、入力情報が不正確または虚偽であったために利用者が被った一切の不利益および損害に関して、本サービスは責任を負わないものとします。 <br>
    </p>
    <p>
      <b>第４条（個人情報等の取り扱い）</b><br>
      個人情報及び利用者情報については、本サービスが別途定める「<b><a href="/static_pages/privacy">プライバシーポリシー</a></b>」に則り、適正に取り扱うこととします。<br>
    </p>
    <p>
      <b>第５条（免責）</b><br>
      １　本サービスは、本サービスの内容変更、中断、終了によって生じたいかなる損害についても、一切責任を負いません。<br>
      ２　本サービスは、本サービスが利用者の特定の目的に適合すること、期待する機能・正確性・有用性を有すること、および不具合が生じないことについて、何ら保証するものではありません。<br>
      ３　本サービスは、本サービスを利用したことにより直接的または間接的に利用者に発生した損害について、一切賠償責任を負いません。<br>
      ４　本サービスが何らかの外的な要因により、データを破損等した場合、本サービスはその責任を負いません。<br>
      ５　本サービスは予告なしに、デザインや機能の一部を変更することがあります。<br>
    </p>
    <p>
      <b>第６条（本サービスへの連絡方法）</b><br>
      本サービスに関するご連絡・お問い合わせは、本サービスが設置する「<b><a href="https://forms.gle/V7VAExtxm42KSEuJ8" target="_blank">お問い合わせフォーム</a></b>」からの送信により行うものとします。<br>
    </p>
    <p>
      ２０２２年４月１３日　施行
    </p>
  </div>
</div>
