<div class="container">
  <div class="contents">
    <h4><b>プライバシーポリシー</b></h4>
    <p>
      かんたん支出管理「yen!」（以下「本サービス」）は、個人情報の保護に関する法律（個人情報保護法）その他の関係法令を遵守するとともに、以下のとおりプライバシーポリシーを定め、個人情報を適切に取扱います。</p><br>
    <p>
      <b>１．取得する情報</b><br>
      本サービスは、本サービスの利用にあたって、ユーザーから以下の情報を取得します。<br>
      ・ニックネーム<br>
      ・メールアドレス<br>
    </p>
    <p>
      <b>２．利用目的</b><br>
      本サービスは、取得したユーザー情報を以下に定める目的のために使用します。<br>
      ・本人確認、ユーザー認証<br>
      ・本サービスに関するお問い合わせへの対応<br>
    </p>
    <p>
      <b>３．個人情報の第三者提供</b><br>
      本サービスは、ユーザー情報のうち個人情報に関して、第三者に提供しません。但し、不正アクセス、脅迫等の違法行為があった場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。<br>
    </p>
    <p>
      <b>４．お問い合わせ</b><br>
      本サービスのプライバシーポリシーに関する、ご意見、ご質問、苦情の申出その他ユーザー情報の取扱いに関するお問い合わせは、「<b><a class="nowrap" href="https://forms.gle/V7VAExtxm42KSEuJ8" target="_blank">お問い合わせフォーム</a></b>」よりご連絡ください。<br>
    </p>
    <p>
      <b>５．改定</b><br>
      本サービスは、必要に応じて、本ポリシーの内容を変更することができるものとします。
      但し、個人情報保護法その他の法令により、改定に必要な手続が定められている場合には、当該法令に基づき改定を行うものとします。<br>
      なお、本サービスは、ユーザーに対して本ポリシーを変更する場合には、変更後の本ポリシーの施行時期および内容を以下の方法で周知します。<br>
      ・本サービスのウェブサイトへの掲示<br>
      ・その他適切な方法<br>
    </p>
    <p>
      <b>６．制定日・改定日</b><br>
      制定：２０２２年４月１３日
    </p>
  </div>
</div>
