<% if model.errors.any? %>
  <div>
    <h5><b>保存ができませんでした。</b></h5>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
