<div class="contents">
  <%= render partial: 'query', locals: { post: @post } %>
  <div>
    <% unless @price_year.zero? %>
      <%= column_chart  @price_month, options = {
        stacked: true,
        width: '800px',
        colors: ["#ACFF40", "#FFF33F"],
        thousands: ",", 
        suffix: "円"
      } %>
    <% end %>
  </div>
</div>
