<div class="contents">
  <%= render partial: 'query', locals: { post: @post } %>
  <div>
    <% if @posts.present? %>
      <%= pie_chart @price_sums, options = {
        donut: true,
        width: '400px',
        height: '400px',
        colors: ["#ACFF40", "#FFF33F"],
        thousands: ",", 
        suffix: "円",
        label: "金額",
        library: {
          title: {
            text: "Good yen!<br>#{@price_true_percent}%",
            align: 'center',
            verticalAlign: 'middle'
          },
          plotOptions: {
            pie: {
              dataLabels: {
                enabled: false
              },
              innerSize: '50%',
            }
          }
        }
      } %>
      <%= @post_count %>件 | 合計：<%= @price_sum.to_s(:delimited) %>円
    <% else %>
      <div>結果は0件です。</div>
    <% end %>
  </div>
</div>
