<div class="contents">
  <%= render partial: 'query', locals: { post: @post } %>
  <div>
    <% unless @price_sums.dig(:'Good yen!').zero? && @price_sums.dig(:'あと一歩').zero? %>
      <%= pie_chart @price_sums, options = {
        donut: true,
        width: '400px',
        height: '400px',
        colors: ["#ACFF40", "#FFF33F"],
        thousands: ",", 
        suffix: "円",
        label: "金額",
        library: {
          title: {
            text: "Good yen!<br>#{@price_true_percent}%",
            align: 'center',
            verticalAlign: 'middle'
          },
          plotOptions: {
            pie: {
              dataLabels: {
                enabled: false
              },
              innerSize: '50%',
            }
          }
        }
      } %>
    <%= @post_count %>件 | 合計：<%= @price_sum.to_s(:delimited) %>円
    <% else %>
      <h3>該当する支出記録はありません。</h3>
    <% end %>
  </div>
</div>
