.contents {
  background-color: white;
  margin: 30px;
}

.first-view {
  margin: 80px 50px 0;
  display: flex;
  justify-content: center;
}

.yen-logo {
  margin: 50px 0;
  width: auto;
  height: auto;
}

.first-messages {
  margin: auto 0;
}

.button-session {
  padding: 15px 15px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.button-registration {
  padding: 15px 100px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  background: linear-gradient(to right, #DDFFBA, #FFFFBB, #FFFFCC);
}

.under-line {
  background:linear-gradient(transparent 70%, #ACFF40 0%);
}

/* ここがおすすめ */
.content {
  margin: 0 50px;
}

.heading-name {
  text-align: center;
  margin: 0 auto;
}

.heading-name-line {
  width: 60vw;
  border-bottom: 1px solid #808080;
  margin: 0 auto;
}

/* .messages {
  display: block;
  justify-content: center;
} */

.message {
  margin: 30px auto 60px;
}

.point {
  color: #FF9340;
} 


/* よくある質問 */
.page-link {
  font-weight: bold;
  border-bottom: dotted;
}
