/* リセットCSS */
html {
  font-size: 18px;
}

body {
  color: #333;
  margin: 0 auto;
  padding-top: 120px;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

/* ヘッダー */
header {
  top: 0;
  left: 0;
  height: 90px;
  width: 100vw;
  display: flex;
  padding: 10px, 0;
  position: fixed;
  background: linear-gradient(to right, #FFFFCC, #FFFFBB, #DDFFBA);
  border-radius: 10px;
  font-size: 1.2rem;
}

.heading {
  width: 15%;
  margin-left: 20px;
}

.navbar {
  width: 85%;
  margin-top: 6px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-lists {
  display: flex;
}

li{
  list-style: none;
}

.left-button {
  margin-right: 30px;
}

/* フッター */
footer {
  background: linear-gradient(to right, #DDFFBA, #FFFFBB, #FFFFCC);
  text-align: center;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 20px;
}
