/* リセットCSS */
html {
  font-size: 18px;
}

body {
  color: #333;
  margin: 0 auto;
  padding-top: 120px;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

/* ヘッダー */
header {
  top: 0;
  left: 0;
  height: 90px;
  width: 100vw;
  display: flex;
  padding: 10px, 0;
  position: fixed;
  background: linear-gradient(to right, #FFFFCC, #FFFFBB, #DDFFBA);
  border-radius: 10px;
  z-index: 1;
}

.heading {
  width: 15%;
  margin-left: 20px;
}

.navbar {
  width: 85%;
  margin-top: 6px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-lists {
  display: flex;
}

li{
  list-style: none;
}

.left-button {
  margin-right: 30px;
}

/* フッター */
footer {
  background: linear-gradient(to right, #DDFFBA, #FFFFBB, #FFFFCC);
  text-align: center;
  border-radius: 10px;
  font-size: 1.2rem;
  height: 90px;
  width: 100vw;
}

.yen-info {
  padding-top: 15px;
}

.footer-nav-lists {
  display: flex;
  justify-content: center;
}

.info-link {
  margin-right: 30px;
}

.contents {
  background-color: white;
  margin: 0 70px;
  min-height: calc(100vh - 90px - 90px);
}

.header-logo {
  height: 70px;
  margin: 10px 0;
}

.yen-logo {
  height: 35vh;
}

.first-messages {
  margin-top: 20px;
}

.button-session {
  padding: 15px 15px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.button-gradation {
  padding: 30px 120px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(to right, #DDFFBA, #FFFFBB, #FFFFCC);
}

.div-button-registration {
  margin: 50px auto;
}

.under-line {
  background:linear-gradient(transparent 70%, #ACFF40 0%);
}

/* ここがおすすめ */
.heading-name {
  text-align: center;
  margin: 0 auto;
}

.h2-heading-name {
  margin-top: 150px;
}

.heading-name-line {
  width: 60vw;
  border-bottom: 1px solid #808080;
  margin: 0 auto;
}

.message {
  margin: 30px auto 60px;
}

.point {
  color: #FF9340;
} 

/* よくある質問 */
.page-link {
  font-weight: bold;
  border-bottom: dotted;
}

.indispensable {
  background-color: #DDFFBA;
  margin-right: 5px;
  padding: 3px;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
}

.post-content {
  margin-top: 10px;
}

.set-margin {
  margin-top: 50px;
}

.posts-list {
  margin: 50px auto;
}

.yen-logo-list {
  height: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  margin: 0 auto;
}

td {
  height: 60px;
  border-top: solid 1px #808080;
  border-bottom: solid 1px #808080;
}

.set-width {
  width: 30px;
}

.set-width-logo {
  width: 60px;
}

.nowrap {
  white-space: nowrap; /* 勝手に折り返さない */
}

.price {
  text-align: right;
}

.form_memo {
  resize: none;
}

.twitter {
  width: 2rem;
}

.bar_rotate {
  transform: rotate(90deg);
}

.content {
  padding-top: 90px;
}

.post_list {
  margin-top: -90px;
  padding-top: 90px;
}
