<p><%= @resource.nickname %> 様</p>

<p>日頃より、かんたん支出管理「yen!」をご利用いただき、誠にありがとうございます。</p>
<p>パスワード再設定のご依頼をいただきましたので、メールを送信しています。</p>

<p><%= link_to 'こちらのリンク', edit_password_url(@resource, reset_password_token: @token) %>から、パスワードの再設定をお願い致します。</p>

<p>・パスワードの再設定は、上記のリンクから新しいパスワードを登録するまで完了しません。</p>
<p>・お心当たりがない場合、お手数ですが、本メールは破棄してください。</p>
<p>────────────────</p>
<p>かんたん支出管理「yen!」</p>
<p>https://good-yen.herokuapp.com/</p>
<p>────────────────</p>
