.contents {
  background-color: white;
  margin: 0 70px;
  min-height: calc(100vh - 90px - 90px);
}

.header-logo {
  height: 70px;
  margin: 10px 0;
}

.yen-logo {
  height: 35vh;
}

.first-messages {
  margin-top: 20px;
}

.button-session {
  padding: 15px 15px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.button-gradation {
  padding: 30px 120px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(to right, #DDFFBA, #FFFFBB, #FFFFCC);
}

.div-button-registration {
  margin: 50px auto;
}

.under-line {
  background:linear-gradient(transparent 70%, #ACFF40 0%);
}

/* ここがおすすめ */
.heading-name {
  text-align: center;
  margin: 0 auto;
}

.h2-heading-name {
  margin-top: 150px;
}

.heading-name-line {
  width: 60vw;
  border-bottom: 1px solid #808080;
  margin: 0 auto;
}

.message {
  margin: 30px auto 60px;
}

.point {
  color: #FF9340;
} 

/* よくある質問 */
.page-link {
  font-weight: bold;
  border-bottom: dotted;
}
